<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="SECB" />
    <meta name="description" content="SECB - Jobs and Scholarships" />
    <meta name="author" content="USK" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SECB - Jobs and Scholarships</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="css/select2/select2.css" />
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>

<!--=================================
Header -->
<header class="header header-transparent bg-dark" style="position: static;">
  <nav class="navbar navbar-static-top navbar-expand-lg header-sticky navbar-dark">
    <div class="container-fluid">
      <button id="nav-icon4" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
          <span></span>
          <span></span>
          <span></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <!-- <img class="img-fluid" src="images/logo-light.svg" alt="logo"> -->
        <h1 style="color: white;">S<span style="color: #21c87a;">E</span>CB</h1>
      </a>
      <div class="navbar-collapse collapse justify-content-start">
        <ul class="nav navbar-nav">
          <li class="nav-item dropdown active">
            <a class="nav-link" href="#" id="navbarDropdown" role="button">Home</a>
            
          </li>
       
          <li class="nav-item dropdown cursur-pointer">
            <a class="nav-link dropdown-toggle">
              Jobs </a>
          </li>
          <li class="nav-item dropdown cursur-pointer">
            <a class="nav-link dropdown-toggle">
              Scholerships </a>
          </li>
          <li class="nav-item dropdown cursur-pointer">
            <a class="nav-link dropdown-toggle">
              Internships </a>
          </li>
         
          <li class="nav-item dropdown cursur-pointer">
            <a class="nav-link dropdown-toggle">
              Blog </a>
          </li>
          <li class="nav-item dropdown cursur-pointer">
            <a class="nav-link dropdown-toggle">
              Courses</a>
          </li>
          
         
        </ul>
      </div>
      <div class="add-listing">
          <div class="login d-inline-block me-4">
            <a href="login.html" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><i class="far fa-user pe-2"></i>Sign up</a>
          </div>
          <a class="btn btn-white btn-md" href="post-a-job.html"><i class="far fa-user pe-2"></i>Sign in</a>
        </div>
    </div>
  </nav>
</header>
<!--=================================
Header -->
<!--=================================
inner banner -->
<div class="header-inner bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-primary">Contact Us</h2>
        <ol class="breadcrumb mb-0 p-0">
          <li class="breadcrumb-item"><a href="index.html"> Home </a></li>
          <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Contact us </span></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--=================================
inner banner -->

<!--=================================
feature-info -->
<section class="space-ptb">
  <div class="container">
    <div class="row">
     <div class="col-xl-6">
       <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2 class="title"><span>Let’s Get In Touch!</span></h2>
              <p>We have completed over a 1000+ projects for five hundred clients. Give us your next project.</p>
            </div>
          </div>
        </div>
        <form>
          <div class="row g-2">
            <div class="mb-2 col-md-6">
              <input type="text" class="form-control" id="Username" placeholder="Enter Your Name">
            </div>
            <div class="mb-2 col-md-6">
              <input type="text" class="form-control" id="email" placeholder="Subject">
            </div>
            <div class="mb-2 col-md-6">
              <input type="text" class="form-control" id="Password" placeholder="Enter Your Email Address">
            </div>
            <div class="mb-2 col-md-6">
              <input type="text" class="form-control" id="phone" placeholder="Enter Your Phone Number">
            </div>
            <div class="col-12 mb-0">
              <textarea rows="5" class="form-control" id="sector" placeholder="Subject"></textarea>
            </div>
            <div class="col-12 mt-4">
              <a class="btn btn-primary" href="#">Send your message</a>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xl-6 mt-4 mt-xl-0">
       <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2 class="title"><span>Contact information</span></h2>
              <p>How can we motivate ourselves? One of the most difficult aspects of achieving success is staying motivated over the long haul.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="border d-flex align-items-center p-4">
              <i class="text-primary flaticon-placeholder me-3 fa-3x"></i>
              <div>
                <h5 class="mb-2">Address</h5>
                <span class="d-block">214 West Arnold St. </span>
                <span>New York, NY 10002</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="border d-flex align-items-center p-4">
              <i class="text-primary flaticon-contact me-3 fa-3x"></i>
              <div>
                <h5 class="mb-2">Phone Number</h5>
                <span class="d-block">(123) 345-6789</span>
                <span>(456) 478-2589</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="border d-flex align-items-center p-4">
              <i class="text-primary flaticon-approval me-3 fa-3x"></i>
              <div>
                <h5 class="mb-2">Email</h5>
                <span class="d-block">support@jobster.demo</span>
                <span>gethelp@jobster.demo</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="border d-flex align-items-center p-4">
              <i class="text-primary flaticon-contact me-3 fa-3x"></i>
              <div>
                <h5 class="mb-2">Fax</h5>
                <span class="d-block">(123) 345-6789</span>
                <span>(456) 478-2589</span>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</section>
<!--=================================
feature-info -->

<!--=================================
Let’s Get In Touch -->
<section class="space-pb ">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="feature-info-02 text-start p-4 border">
          <div class="feature-info-icon">
            <i class="flaticon-hand-shake"></i>
          </div>
          <div class="feature-info-content ps-0 ps-sm-3">
            <h5 class="title text-dark">Chat To Us Online</h5>
            <p class="mb-0">Chat to us online if you have any question.</p>
            <a class="mt-2 mb-0 d-block" href="#">Click here to open chat</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="feature-info-02 text-start p-4 border">
          <div class="feature-info-icon">
            <i class="flaticon-profiles"></i>
          </div>
          <div class="feature-info-content ps-0 ps-sm-3">
            <h5>Call Us</h5>
            <p class="mb-0">Our support agent will work with you to meet your lending.</p>
            <h5 class="mt-2 mb-0">(123) 345-6789</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature-info-02 text-start p-4 border">
          <div class="feature-info-icon">
            <i class="flaticon-conversation-1"></i>
          </div>
          <div class="feature-info-content ps-0 ps-sm-3">
            <h5>Read our latest news</h5>
            <p class="mb-0">Visit our Blog page and know more about news.</p>
            <a class="mt-2 mb-0 d-block" href="#">Read Blog post </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
Footer-->
<footer class="footer bg-light">

  <div class="footer-bottom bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="d-flex justify-content-md-start justify-content-center">
            <ul class="list-unstyled d-flex mb-0">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 text-center text-md-end mt-4 mt-md-0">
          <p class="mb-0 text-white"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <span style="color: #21c87a;">SECB</span> All Rights Reserved </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--=================================
Footer-->

<!--=================================
Back To Top-->
   <div id="back-to-top" class="back-to-top">
     <i class="fas fa-angle-up"></i>
   </div>
<!--=================================
Back To Top-->


<!--=================================
Javascript -->

  <!-- JS Global Compulsory (Do not remove)-->
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/popper/popper.min.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>

  <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
  <script src="js/jquery.appear.js"></script>
  <script src="js/counter/jquery.countTo.js"></script>
  <script src="js/owl-carousel/owl-carousel.min.js"></script>
  <script src="js/select2/select2.full.js"></script>

  <!-- Template Scripts (Do not remove)-->
  <script src="js/custom.js"></script>

</body>
</html>
