{% extends 'require/basic.html' %}
{% load static %}
{% block topNav %}
<li class="nav-item dropdown">
  <a class="nav-link" href="/" id="navbarDropdown" role="button">Home</a>
</li>

<li class="nav-item dropdown cursur-pointer">
  <a class="nav-link dropdown-toggle" href="/jobs/">
    Jobs </a>
</li>
<li class="nav-item dropdown cursur-pointer">
  <a class="nav-link dropdown-toggle">
    Scholerships </a>
</li>
<li class="nav-item dropdown cursur-pointer">
  <a class="nav-link dropdown-toggle">
    Internships </a>
</li>

<li class="nav-item dropdown cursur-pointer">
  <a class="nav-link dropdown-toggle" href="/blog/1">
    Blog </a>
</li>
<li class="nav-item dropdown cursur-pointer">
  <a class="nav-link dropdown-toggle">
    Courses</a>
</li>
{% endblock %}
{% block mainBody %} 
<!--=================================
Header -->
<!--=================================
inner banner -->
<div class="header-inner bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-primary">Contact Us</h2>
        <ol class="breadcrumb mb-0 p-0">
          <li class="breadcrumb-item"><a href="/"> Home </a></li>
          <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i><a href="/contact/"><span> Contact us</span></a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--=================================
inner banner -->

<!--=================================
feature-info -->
<section class="space-ptb">
  <div class="container">
    <div class="row">
     <div class="col-xl-6">
       <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2 class="title"><span>Let’s Get In Touch!</span></h2>
              <p>We have completed over a 1000+ projects for five hundred clients. Give us your next project.</p>
            </div>
          </div>
        </div>
        <form action="/contact/" method="post">
          {% csrf_token %}
          <div class="row g-2">
            <div class="mb-2 col-md-6">
              <input type="text" class="form-control" name="name" id="Username" placeholder="Enter Your Name" required>
            </div>
            <div class="mb-2 col-md-6">
              <input type="text" class="form-control" id="email" placeholder="subject" name="subject" required>
            </div>
            <div class="mb-2 col-md-6">
              <input type="email" class="form-control" name="email" id="Password" placeholder="Enter Your Email Address" required>
            </div>
            <div class="mb-2 col-md-6">
              <input type="number" class="form-control" id="phone" name="phone_number" placeholder="Enter Your Phone Number" required>
            </div>
            <div class="col-12 mb-0">
              <textarea rows="5" class="form-control" name="message" id="sector" placeholder="Subject" minlength="50" maxlength="1000" required></textarea>
            </div>
            <p style="color: #21c87a; font-weight: bold; padding-left:10px;">{{success}}</p>
            <div class="col-12 mt-4">
              <input type="submit" class="btn btn-primary" value="Send your message">
            </div>
          </div>
        </form>
      </div>
      <div class="col-xl-6 mt-4 mt-xl-0">
       <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2 class="title"><span>Contact information</span></h2>
              <p>How can we motivate ourselves? One of the most difficult aspects of achieving success is staying motivated over the long haul.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="border d-flex align-items-center p-4">
              <i class="text-primary flaticon-placeholder me-3 fa-3x"></i>
              <div>
                <h5 class="mb-2">Address</h5>
                <span class="d-block">214 West Arnold St. </span>
                <span>New York, NY 10002</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="border d-flex align-items-center p-4">
              <i class="text-primary flaticon-contact me-3 fa-3x"></i>
              <div>
                <h5 class="mb-2">Phone Number</h5>
                <span class="d-block">(123) 345-6789</span>
                <span>(456) 478-2589</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="border d-flex align-items-center p-4">
              <i class="text-primary flaticon-approval me-3 fa-3x"></i>
              <div>
                <h5 class="mb-2">Email</h5>
                <span class="d-block">support@jobster.demo</span>
                <span>gethelp@jobster.demo</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="border d-flex align-items-center p-4">
              <i class="text-primary flaticon-contact me-3 fa-3x"></i>
              <div>
                <h5 class="mb-2">Fax</h5>
                <span class="d-block">(123) 345-6789</span>
                <span>(456) 478-2589</span>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</section>
<!--=================================
feature-info -->

<!--=================================
Let’s Get In Touch -->
<section class="space-pb ">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="feature-info-02 text-start p-4 border">
          <div class="feature-info-icon">
            <i class="flaticon-hand-shake"></i>
          </div>
          <div class="feature-info-content ps-0 ps-sm-3">
            <h5 class="title text-dark">Chat To Us Online</h5>
            <p class="mb-0">Chat to us online if you have any question.</p>
            <a class="mt-2 mb-0 d-block" href="#">Click here to open chat</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="feature-info-02 text-start p-4 border">
          <div class="feature-info-icon">
            <i class="flaticon-profiles"></i>
          </div>
          <div class="feature-info-content ps-0 ps-sm-3">
            <h5>Call Us</h5>
            <p class="mb-0">Our support agent will work with you to meet your lending.</p>
            <h5 class="mt-2 mb-0">(123) 345-6789</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature-info-02 text-start p-4 border">
          <div class="feature-info-icon">
            <i class="flaticon-conversation-1"></i>
          </div>
          <div class="feature-info-content ps-0 ps-sm-3">
            <h5>Read our latest news</h5>
            <p class="mb-0">Visit our Blog page and know more about news.</p>
            <a class="mt-2 mb-0 d-block" href="#">Read Blog post </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block BottomNav %}
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Team</a></li>
<li><a href="/contact/" style="color: #21c87a;">Contact</a></li>
{% endblock %}
               