{% extends 'require/basic.html' %}
{% load static %}
{% block topNav %}
<li class="nav-item dropdown">
  <a class="nav-link" href="/" id="navbarDropdown" role="button">Home</a>
</li>

<li class="nav-item dropdown cursur-pointer active">
  <a class="nav-link dropdown-toggle" href="/jobs/">
    Jobs </a>
</li>
<li class="nav-item dropdown cursur-pointer">
  <a class="nav-link dropdown-toggle">
    Scholerships </a>
</li>
<li class="nav-item dropdown cursur-pointer">
  <a class="nav-link dropdown-toggle">
    Internships </a>
</li>

<li class="nav-item dropdown cursur-pointer">
  <a class="nav-link dropdown-toggle" href="/blog/1">
    Blog </a>
</li>
<li class="nav-item dropdown cursur-pointer">
  <a class="nav-link dropdown-toggle">
    Courses</a>
</li>
{% endblock %}
{% block mainBody %} 
<style>
  .Temporary{
    background-color: #e74c3c;
  }
    .Part-time{
      background-color: #ffc107;
    }
    .Full-time,
    .Goverment{
      background-color: #53b427;
    }
    .Freelance,
    .Private{
      background-color: #146ebe;
    }
    .job-about{
      font-weight: bold; color:#21c87a;
    }
    .btn-mn:hover  .job-about{
      color: white;
    }
    
</style>
<!--=================================
inner banner -->
<div class="header-inner bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-primary">Jobs</h2>
        <ol class="breadcrumb mb-0 p-0">
          <li class="breadcrumb-item"><a href="/"> Home </a></li>
          <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i><a href="/jobs/"><span> Jobs</span></a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--=================================
inner banner -->


<!--=================================
Browse-job -->
<section class="space-ptb">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="browse-job border-0">
            <div class="section-title">
              <h3 class="title"><span>Browse Jobs</span></h3>
            </div>
            <div class="justify-content-center flex-fill">
             <div class="nav-tabs-style-02 d-flex mb-0 border-0 bg-light">
              <div class="mb-4 mb-md-0">
                <ul class="nav nav-tabs justify-content-center d-flex" id="myTab1" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Industry</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Department</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Location</a>
                  </li>
                </ul>
              </div>
              <div class="job-found ms-auto mb-0">
                <span class="badge badge-lg bgs-primary">57412</span>
                <h6 class="ms-3 mb-0">Job Found</h6>
              </div>
             </div>
            </div>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row mt-4 mt-md-5">
                <div class="col-md-12">
                  <div class="category-style-02">
                    <ul class="list-unstyled mb-0">
                      <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-businessman"></i>
                        </div>
                        <h6 class="mb-0 title">Accountancy</h6>
                        <span>32761</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-mortgage"></i>
                        </div>
                        <h6 class="mb-0 title">Architecture</h6>
                        <span>23703</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-salary"></i>
                        </div>
                        <h6 class="mb-0 title">Finance</h6>
                        <span>20321</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-hand-shake"></i>
                        </div>
                        <h6 class="mb-0 title">Charity &amp; Voluntary</h6>
                        <span>9042</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-coding"></i>
                        </div>
                        <h6 class="mb-0 title">Information Technology</h6>
                        <span>3423</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-hiring-1"></i>
                        </div>
                        <h6 class="mb-0 title">Accounting</h6>
                        <span>4356</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-mortarboard"></i>
                        </div>
                        <h6 class="mb-0 title">Education</h6>
                        <span>7698</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-promotion"></i>
                        </div>
                        <h6 class="mb-0 title">Sales & Marketing</h6>
                        <span>1098</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-mortgage"></i>
                        </div>
                        <h6 class="mb-0 title">Estate Agency</h6>
                        <span>7086</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-money"></i>
                        </div>
                        <h6 class="mb-0 title">Financial Services</h6>
                        <span>2389</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-worker"></i>
                        </div>
                        <h6 class="mb-0 title">IT Contractor</h6>
                        <span>9123</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-balance"></i>
                        </div>
                        <h6 class="mb-0 title">Law</h6>
                        <span>6347</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-job-2"></i>
                        </div>
                        <h6 class="mb-0 title">Leisure & Tourism</h6>
                        <span>5437</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-shipped"></i>
                        </div>
                        <h6 class="mb-0 title">Manufacturing</h6>
                        <span>2158</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-conversation"></i>
                        </div>
                        <h6 class="mb-0 title">Marketing & PR</h6>
                        <span>1024</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-headhunting"></i>
                        </div>
                        <h6 class="mb-0 title">Human Resources</h6>
                        <span>5024</span>
                      </a>
                     </li>
                    <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-doctor"></i>
                        </div>
                        <h6 class="mb-0 title">Health Care</h6>
                        <span>5437</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-money"></i>
                        </div>
                        <h6 class="mb-0 title">Purchasing</h6>
                        <span>3181</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-vector"></i>
                        </div>
                        <h6 class="mb-0 title">Scientific</h6>
                        <span>2014</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-account"></i>
                        </div>
                        <h6 class="mb-0 title">Retail</h6>
                        <span>2367</span>
                      </a>
                     </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row mt-4 mt-md-5">
                <div class="col-md-12 mb-3 mb-md-0">
                  <div class="category-style-02">
                    <ul class="list-unstyled mb-0">
                      <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-businessman"></i>
                        </div>
                        <h6 class="mb-0 title">Accountancy</h6>
                        <span>32761</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-mortgage"></i>
                        </div>
                        <h6 class="mb-0 title">Architecture</h6>
                        <span>23703</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-salary"></i>
                        </div>
                        <h6 class="mb-0 title">Finance</h6>
                        <span>20321</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-hand-shake"></i>
                        </div>
                        <h6 class="mb-0 title">Charity &amp; Voluntary</h6>
                        <span>9042</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-coding"></i>
                        </div>
                        <h6 class="mb-0 title">Information Technology</h6>
                        <span>3423</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-hiring-1"></i>
                        </div>
                        <h6 class="mb-0 title">Accounting</h6>
                        <span>4356</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-mortarboard"></i>
                        </div>
                        <h6 class="mb-0 title">Education</h6>
                        <span>7698</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-promotion"></i>
                        </div>
                        <h6 class="mb-0 title">Sales & Marketing</h6>
                        <span>1098</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-mortgage"></i>
                        </div>
                        <h6 class="mb-0 title">Estate Agency</h6>
                        <span>7086</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-money"></i>
                        </div>
                        <h6 class="mb-0 title">Financial Services</h6>
                        <span>2389</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-worker"></i>
                        </div>
                        <h6 class="mb-0 title">IT Contractor</h6>
                        <span>9123</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-balance"></i>
                        </div>
                        <h6 class="mb-0 title">Law</h6>
                        <span>6347</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-job-2"></i>
                        </div>
                        <h6 class="mb-0 title">Leisure & Tourism</h6>
                        <span>5437</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-shipped"></i>
                        </div>
                        <h6 class="mb-0 title">Manufacturing</h6>
                        <span>2158</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-conversation"></i>
                        </div>
                        <h6 class="mb-0 title">Marketing & PR</h6>
                        <span>1024</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-headhunting"></i>
                        </div>
                        <h6 class="mb-0 title">Human Resources</h6>
                        <span>5024</span>
                      </a>
                     </li>
                    <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-doctor"></i>
                        </div>
                        <h6 class="mb-0 title">Health Care</h6>
                        <span>5437</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-money"></i>
                        </div>
                        <h6 class="mb-0 title">Purchasing</h6>
                        <span>3181</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-vector"></i>
                        </div>
                        <h6 class="mb-0 title">Scientific</h6>
                        <span>2014</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <div class="category-icon">
                          <i class="flaticon-account"></i>
                        </div>
                        <h6 class="mb-0 title">Retail</h6>
                        <span>2367</span>
                      </a>
                     </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <div class="row mt-4 mt-md-5">
                <div class="col-md-12 mb-3 mb-md-0">
                  <div class="category-style-02">
  
                    <ul class="list-unstyled mb-0">
                      <li class="category-item">
                      <a href="property-list.html">
                      <h6 class="mb-0 title">Parsippany, NJ 07054</h6>
                        <span>32761</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                      <h6 class="mb-0 title">Glen Cove, NY 11542</h6>
                        <span>23703</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">Minneapolis, MN 55406</h6>
                        <span>20321</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">Taunton, London</h6>
                        <span>9042</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">Minneapolis, MN 55406</h6>
                        <span>3423</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">Fairfield Dr, Granger</h6>
                        <span>4356</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">Burry Port, Surat</h6>
                        <span>7698</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">Salisbury, MD</h6>
                        <span>1098</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">Eastpointe, MI</h6>
                        <span>7086</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">Valley Stream, NY</h6>
                        <span>2389</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">Walt Whitman St. MA</h6>
                        <span>9123</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">301 Glenlake St. NC</h6>
                        <span>6347</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">Leisure & Tourism</h6>
                        <span>5437</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">Young Ave. Bridgeport, CT</h6>
                        <span>2158</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">Marketing & PR</h6>
                        <span>1024</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">2 Maiden St. OH</h6>
                        <span>5024</span>
                      </a>
                     </li>
                    <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">Surrey Avenue Euless, TX</h6>
                        <span>5437</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">Branch Dr. Odenton, MD</h6>
                        <span>3181</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">North Miles Street Glasgow</h6>
                        <span>2014</span>
                      </a>
                     </li>
                     <li class="category-item">
                      <a href="property-list.html">
                        <h6 class="mb-0 title">Lynch Lane, Weymouth</h6>
                        <span>2367</span>
                      </a>
                     </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Browse-job -->

<!--=================================
Browse listing -->
<section class="space-ptb bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="title"><span> Browse Listing </span></h2>
        </div>
        <div class="nav-tabs-style-02 d-flex border-0">
          <div class="mb-4 mb-md-0">
            <ul class="nav nav-tabs justify-content-center d-flex" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="hot-jobs-tab" data-bs-toggle="tab" href="#hot-jobs" role="tab" aria-controls="hot-jobs" aria-selected="true">All Jobs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="recent-jobs-tab" data-bs-toggle="tab" href="#recent-jobs" role="tab" aria-controls="recent-jobs" aria-selected="false">Remote Jobs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="popular-jobs-tab" data-bs-toggle="tab" href="#popular-jobs" role="tab" aria-controls="popular-jobs" aria-selected="false">Foreign Jobs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="new-one-tab" data-bs-toggle="tab" href="#new-one" role="tab" aria-controls="new-one" aria-selected="false">Pakistan Jobs</a>
              </li>
            </ul>
          </div>
          <div class="job-found ms-auto mb-0">
            <span class="badge badge-lg bg-primary">24123</span>
            <h6 class="ms-3 mb-0">Job Found</h6>
          </div>
        </div>

        <div class="tab-content" id="myTabContent">
          <!-- All jobs -->
          <div class="tab-pane fade show active" id="hot-jobs" role="tabpanel" aria-labelledby="hot-jobs-tab">
            {% for i in all %}
            {% if forloop.counter <= 3 %}
            <div class="job-list">
              <div class="job-list-logo">
                <img class="img-fluid" src="/media/{{i.picture}}" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="/jobDetail/{{i.code}}">{{i.name}}</a></h5>
                    <span class="{{i.timing}}">{{i.timing}}</span>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li>
                        <span>via</span>
                        <a style="color: #21c87a; cursor:pointer;">{{i.company}}</a>
                      </li>
                      <li><i class="fas fa-map-marker-alt pe-1"></i>{{i.out_location}}</li>
                      <li><i class="fas fa-filter pe-1"></i>{{i.out_category}}</li>
                      <li><i class="fa-solid fa-code pe-1"></i>{{i.code|slice:":6"}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time">
                <a  class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a>
                <span class="job-list-time order-1"><i class="far fa-clock pe-1"></i>{{i.publish_date.time}}</span> 
              </div>
            </div>
            {% endif %}
            {% empty %}
            <div class="job-found ms-auto mb-0">
              <span class="badge badge-lg bg-danger">WARNING</span>
              <h6 class="ms-3 mb-0">No Job found yet!</h6>
            </div>
            {% endfor %}
            {% if all %}
            <div class="row">
              <div class="col-12 justify-content-center d-flex mt-4">
                <a class="btn btn-white btn-lg btn-mn" href="/jobViewMore/All">View More <sub><small class="job-about">All Jobs</small></sub></a>
              </div>
            </div>
            {% endif %}
          </div>
          <!-- Remote jobs -->
          <div class="tab-pane fade" id="recent-jobs" role="tabpanel" aria-labelledby="recent-jobs-tab">
            {% for i in remote %}
            {% if forloop.counter <= 3 %}
            <div class="job-list">
              <div class="job-list-logo">
                <img class="img-fluid" src="/media/{{i.picture}}" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="/jobDetail/{{i.code}}">{{i.name}}</a></h5>
                    <span class="{{i.timing}}">{{i.timing}}</span>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li>
                        <span>via</span>
                        <a style="color: #21c87a; cursor:pointer;">{{i.company}}</a>
                      </li>
                      <li><i class="fas fa-map-marker-alt pe-1"></i>{{i.out_location}}</li>
                      <li><i class="fas fa-filter pe-1"></i>{{i.out_category}}</li>
                      <li><i class="fa-solid fa-code pe-1"></i>{{i.code|slice:":6"}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time">
                <a  class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a>
                <span class="job-list-time order-1"><i class="far fa-clock pe-1"></i>{{i.publish_date.time}}</span> 
              </div>
            </div>
            {% endif %}
            {% empty %}
            <div class="job-found ms-auto mb-0">
              <span class="badge badge-lg bg-danger">WARNING</span>
              <h6 class="ms-3 mb-0">No Job found yet!</h6>
            </div>
            {% endfor %}
            {% if remote %}
            <div class="row">
              <div class="col-12 justify-content-center d-flex mt-4">
                <a class="btn btn-white btn-lg btn-mn" href="/jobViewMore/Remote">View More <sub><small class="job-about">Remote Jobs</small></sub></a>
              </div>
            </div>
            {% endif %}
          </div>
          <!-- foreign jobs -->
          <div class="tab-pane fade" id="popular-jobs" role="tabpanel" aria-labelledby="popular-jobs-tab">
            {% for i in foreign %}
            {% if forloop.counter <= 3 %}
            <div class="job-list">
              <div class="job-list-logo">
                <img class="img-fluid" src="/media/{{i.picture}}" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="/jobDetail/{{i.code}}">{{i.name}}</a></h5>
                    <span class="{{i.timing}}">{{i.timing}}</span>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li>
                        <span>via</span>
                        <a style="color: #21c87a; cursor:pointer;">{{i.company}}</a>
                      </li>
                      <li><i class="fas fa-map-marker-alt pe-1"></i>{{i.out_location}}</li>
                      <li><i class="fas fa-filter pe-1"></i>{{i.out_category}}</li>
                      <li><i class="fa-solid fa-code pe-1"></i>{{i.code|slice:":6"}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time">
                <a  class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a>
                <span class="job-list-time order-1"><i class="far fa-clock pe-1"></i>{{i.publish_date.time}}</span> 
              </div>
            </div>
            {% endif %}
            {% empty %}
            <div class="job-found ms-auto mb-0">
              <span class="badge badge-lg bg-danger">WARNING</span>
              <h6 class="ms-3 mb-0">No Job found yet!</h6>
            </div>
            {% endfor %}
            {% if foreign %}
            <div class="row">
              <div class="col-12 justify-content-center d-flex mt-4">
                <a class="btn btn-white btn-lg btn-mn" href="/jobViewMore/Foreign">View More <sub><small class="job-about">Foreign Jobs</small></sub></a>
              </div>
            </div>
            {% endif %}
          </div>
          <!-- pakistan jobs -->
          <div class="tab-pane fade" id="new-one" role="tabpanel" aria-labelledby="new-one-tab">
            <!-- Freelance -->
            {% for i in pakistan %}
            {% if forloop.counter <= 3 %}
            <div class="job-list">
              <div class="job-list-logo">
                <img class="img-fluid" src="/media/{{i.picture}}" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="/jobDetail/{{i.code}}">{{i.name}}</a></h5>
                    <span class="{{i.timing}}">{{i.timing}}</span>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li>
                        <span>via</span>
                        <a style="color: #21c87a; cursor:pointer;">{{i.company}}</a>
                      </li>
                      <li><i class="fas fa-map-marker-alt pe-1"></i>{{i.out_location}}</li>
                      <li><i class="fas fa-filter pe-1"></i>{{i.out_category}}</li>
                      <li><i class="fa-solid fa-code pe-1"></i>{{i.code|slice:":6"}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time">
                <a  class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a>
                <span class="job-list-time order-1"><i class="far fa-clock pe-1"></i>{{i.publish_date.time}}</span> 
              </div>
            </div>
            {% endif %}
            {% empty %}
            <div class="job-found ms-auto mb-0">
              <span class="badge badge-lg bg-danger">WARNING</span>
              <h6 class="ms-3 mb-0">No Job found yet!</h6>
            </div>
            {% endfor %}
            {% if pakistan %}
            <div class="row">
              <div class="col-12 justify-content-center d-flex mt-4">
                <a class="btn btn-white btn-lg btn-mn" href="/jobViewMore/Pakistan">View More <sub><small class="job-about">Pak Jobs</small></sub></a>
              </div>
            </div>
            {% endif %}
          </div>
          
        </div>

      </div>
    </div>
  </div>
</section>
<!--=================================
Browse listing -->


<!--================================= -->
{% endblock %}

{% block BottomNav %}
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Team</a></li>
<li><a href="/contact/">Contact</a></li>
{% endblock %}
               